*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #efefef!important;
}
.jsjhr .skfjh {
    position: relative;
    top: 4rem;
.sfjhe{
    background-color: #fff;
    padding: 12px;
    box-shadow: 0px 0px 6px #ccc;
    height: 100%;
    .sjfsj img{
        width: 140px;
        margin-top: 9px;
    border-radius: 50%;
    margin-left: 8px;
    
    }
    h5{
        font-size: 16px;
    }
}
.jfheuf{
    background-color: #fff;
    box-shadow: 0px 0px 6px #ccc;
    padding: 34px;

    textarea{
        border: navajowhite;
    border-bottom: 1px solid #efefef;
    outline: navajowhite;
    
    }
}
.box1{
    background-color: #fff;
    box-shadow: 0px 0px 6px #ccc;
    padding: 20px;
    margin-top: 20px;
    .skfjkk .lkt40 img{
width: 33px;
border-radius: 50%;
height: 33px;
    }
}
.left_box{
    background-color: #fff;
    box-shadow: 0px 0px 6px #ccc;
    padding: 34px;
    .dfkj .lkt40 img{
width: 30px;
border-radius: 50%;
    height: 30px;
margin-right: 10px;
    }
}


}